@charset "utf-8";
.exzoom {
    /*overflow: hidden;*/
}

.exzoom .exzoom_img_box {
    background: #eee;
}

.exzoom .exzoom_img_box .exzoom_main_img {
    display: block;
}

.exzoom .exzoom_img_box span {
    background: url(whitebg.png) repeat;
}

.exzoom .exzoom_preview {
    margin: 0;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    background-color: #fff;
}

.exzoom .exzoom_preview img {
    position: relative;
}

.exzoom .exzoom_nav {
    left: 25px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.exzoom .exzoom_nav span {
    border: 1px solid #ddd;
    float: left;
    overflow: hidden;
    position: relative;
}

.exzoom .exzoom_nav span.current {
    border: 1px solid #f60;
}

.exzoom .exzoom_nav img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.exzoom .exzoom_btn {
    /*width: 400px;*/
    position: relative;
    margin: 0;
}

.exzoom .exzoom_btn a {
    display: block;
    width: 15px;
    border: 1px solid #ddd;
    height: 60px;
    line-height: 60px;
    background: #eee;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: -62px;
    text-decoration: none;
    color: #999;
}

.exzoom .exzoom_btn a.exzoom_next_btn {
    left: auto;
    right: 0;
}

.exzoom .exzoom_btn a:hover {
    background: #ccc;
    color: #777;
}